
@if (pokemon) {
<div class="row">
    <div class="col s12 m8 offset-m2">
    <h1 class="header center">{{pokemon.name}} </h1>
    <div class ="card horizontal hoverable">
        <div class="card-image" >
            <img [src]="pokemon.picture">
            <span> <b>ID {{pokemon.id}} </b> </span>
            @for (type of pokemon.types; track $index) {
                <img [src]= "type | pokemonTypeColor" >
            }
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <table class="bordered striped">
                    <tbody>
                        <tr>
                            <td> Nom</td>
                            <td> <strong> {{pokemon.name}}</strong></td>
                        </tr>
                        <tr>
                            <td> PV</td>
                            <td> <strong> {{pokemon.stats.hp}}</strong></td>
                        </tr> 
                        <tr>
                            <td> Attaque</td>
                            <td> <strong> {{pokemon.stats.attack}}</strong></td>
                        </tr>
                        <tr>
                            <td> Défense</td>
                            <td> <strong> {{pokemon.stats.defense}}</strong></td>
                        </tr>
                        <tr>
                            <td> Attaque Spéciale</td>
                            <td> <strong> {{pokemon.stats.special_attack}}</strong></td>
                        </tr>
                        <tr>
                            <td> Defence Spéciale</td>
                            <td> <strong> {{pokemon.stats.special_defense}}</strong></td>
                        </tr>
                        <tr>
                            <td> Vitesse</td>
                            <td> <strong> {{pokemon.stats.speed}}</strong></td>
                        </tr>
                        <tr>
                    </tbody>
                </table>
            </div>
            <div class="card-action">
            <a (click)=goPokemonList() >retour</a>
            <a (click)=goNextPokemon() > Précédent </a>
            <a (click)=goNextPokemon() >Suivant </a>
        </div>
        </div>
    </div>    
    </div>
</div>

}